body {
    background-color: rgb(139,0,0);
    color: white;
    border-style: double;
    border-color: white;
    border-width: 7wpx;
    font-family: Arial;
    background-image: url("https://cutewallpaper.org/21/backgrounds-for-html-gif/50-Space-Wallpaper-Gif-on-WallpaperSafari.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
