body {
    background-color: rgb(139,0,0);
    color: white;
    border-style: double;
    border-color: white;
    border-width: 7wpx;
    font-family: Arial;
    background-image: url("https://i.pinimg.com/originals/ee/29/98/ee2998cdb1cf6a6bf66bf65fe0076fd2.gif");
}
