body {
    background-color: rgb(139,0,0);
    color: white;
    border-style: double;
    border-color: white;
    border-width: 10px;
    font-family: Arial;
    background-image: url("https://dazedprod.blob.core.windows.net/dazed-prod/1250/3/1253802.gif");
}
.divone {
    width: 250px;
    border: 5px solid darkred;
    padding: 10px;
    margin: 50px;
    margin: auto;
}
.Alpha {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Lato, sans serif;
}
.Bravo {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: white;
    border: dashed;
    border-color: darkred;
}
.Charlie {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.Delta {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    color: white;
}
.Foxtrot {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: Lato, sans serif;
}
